@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Lakki+Reddy&display=swap');

body{
    font-family: 'Kodchasan';
    margin: 0;
}

header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    /* transition: 0.6s; */
    padding: 20px 50px;
    height: 35px;
    background-color: #162022;
    z-index: 100;
}

header .navbar{
    display: flex;
    width: 100%;
}

header .logo{
    top: 10px;
    position: relative;
    font-family: 'Lakki Reddy';
    color: red;
    text-decoration: none;
    font-size: 1.8em;
    text-transform: uppercase;
    /* transition: 0.6s; */
}

header .navbar .full{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: #314048;
    margin-left: 45px;
    margin-right: 30px;
    border-radius: 12px;
}

header .navbar .side{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.side a, .full a{
    font-family: 'Kodchasan';
    color: white;
    text-decoration: none;
}

.trailer {
    margin-top: 75.5px;
    text-align: center;
    /* background-color: black; */
}

.vidcon {
    position: relative;
    display: block; 
    width: 100%;
    padding: 30px 0;
    background-color: #0B1216;
    box-sizing: border-box;
    border: 10px red;
}


.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px; 
    height: 80px; 
    background-color: rgba(0, 0, 0, 0.7); 
    border-radius: 50%; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-icon {
    color: #fff; 
    font-size: 48px; 
    font-style: normal;
}


.tables {
    display: flex;
    flex-wrap: wrap;
    margin-left: 16%;
    margin-right: 16%;
    margin-top: 5%;
    padding: 3% 3% 3% 4%;
    background-color: #D9D9D9;
}

.poster {
    border-collapse: collapse; 
    border: none;
    margin-right: 3%;
}

.poster img{
    height: 600px;
}

.desc {
    width: 60%;
    border-collapse: collapse; 
}

table.desc tr th{
    text-align: left;
}

table.desc tr th.title{
    padding-top: 3%;
    padding-bottom: 5%;
    font-size: 25px;
}

table.desc tr td{
    padding-bottom: 4%;
}

.gallery {
    position: relative;
    width: 60%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    left: 20%;
    right: 20%;
}

#slider{
    overflow: hidden;
    width: 100%;
}

#slider figure{
    position: relative;
    width: 300%;
    margin: 0;
    left: 0;
    display: flex;
    transition: transform 1s ease-in-out;
}

#slider figure img {
    width: 33.33%; 
    flex-shrink: 0;
    cursor: pointer;
    object-fit: cover;
    height: auto;
}

.cast h1{
    text-align: center;
    background-color: black;
    color: white;
    padding: 1% 0%;
    font-size: 100px;
    font-family: 'Kodchasan';
    margin-top: 5%;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.bulet {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.circle-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

footer {
    text-align: center;
    background-color: #D9D9D9;
    padding: 1% 0%;
    font-size: 15px;
    font-family: 'Kodchasan';
    margin-top: 3%;
}

html {
    scroll-behavior: smooth;
}